<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Embellished
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140207

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
	<link href="default.css" rel="stylesheet" type="text/css" media="all" />
	<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

	<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="wrapper1">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo"> <span class="icon icon-book"></span>
				<h1><a href="#"><img src="../images/datascriptor-logo.png" width="640"></a></h1>
				<!--
				<span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a></span> </div>
				-->
				<div id="menu">
					<ul>
						<!-- TODO: Add current_page_item
                        <li><a href="#" title="">Home</a></li>
                        <li><a href="https://sansonegroup.eng.ox.ac.uk" title="">Data Readiness Group</a></li>
                        <li><a href="http://www.eng.ox.ac.uk" title="">Engineering Science</a></li>
                        -->
					</ul>
				</div>
			</div>
		</div>

		{{ content }}

	</div>
	<div id="footer" class="container">
		<div class="title">
			<h2>Get in touch</h2>
			<span class="byline">The DataScriptor Team</span>
		</div>
		<ul class="contact">
			<li><a href="https://www.oerc.ox.ac.uk/people/susanna-assunta-sansone"><span>Susanna-Assunta Sansone</span></a></li>
			<li><a href="https://www.oerc.ox.ac.uk/people/philippe-rocca-serra"><span>Philippe Rocca-Serra</span></a></li>
			<li><a href="https://www.oerc.ox.ac.uk/people/massimiliano-izzo"><span>Massimiliano Izzo</span></a></li>
			<!--
            <li><a href="#" class="icon icon-rss"><span>Pinterest</span></a></li>
            -->
		</ul>
	</div>
	<div id="copyright" class="container">
		<p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
	</div>
</div>
</body>
</html>
